<div class="navbar">
	<ul>
		
		<li> Home </li>
		<li> About </li>
		<li> Contact Us </li>
		<li> <%= link_to "Sign up", new_registration_path("user") %> </li>
		<li> <%= link_to "Login", new_session_path("user") %> </li>
	</ul>
</div>

	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
       <img src="../../assets/friends.jpg" alt="friends">
      <div class="carousel-caption">
        Find Roommates
      </div>
    </div>
    <div class="item">
      <img src="../../assets/apartment.jpg" alt="apartment">
      <div class="carousel-caption">
        Find an Apartment
      </div>
    </div>
    <div class="item">
      <img src="../../assets/apartment.jpg" alt="apartment">
      <div class="carousel-caption">
        Connect with your Landlord
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
	
	<p>Live where you want, with the people you want.</p>

	
