// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*******************ALL PAGES*************************/

#facepic {
  height: 30%;
  width:20%;
}

a {
  color:white;
}

.allpagebackground {
  background-color:#E1E1E1;
  border-radius:10px;
}

ul {
  list-style:none;
}

p.alert {
  padding: 0 0px;
  margin-bottom: 0px;
}

p.notice {
  padding: 0 0px;
  margin-bottom: 0px;
}

/*******************WELCOME PAGE NAVBAR*************************/

li #messageshover:hover {
  background-color:#C2E066;
}

.navbar {
  margin-top:5px;
}

li.currentpage {
  background-color:#C2E066;
}


.navbar-header li {
  list-style: none;

}

.navbar-brand {
  height: 70px;
  width: 200px; 
}

.navbar-nav > li:hover {
  background-color: #bfea66;
}

#roomiez_logo {
  height: 50px;
  padding: 0;
  width: 140px;
}


/******************* apartment view *************************/

#apartmentshow {
  padding-top:0.2px;
  padding-left:1%;
  background-color: white;
  border-radius:10px;
  padding-bottom:0.2px;
  margin-top:1.5%;
}
/******************* BODY *************************/


body.pagebodybackground {
  position: relative;
  background-image: url('apartmenttest.jpg');
  opacity: 30%;
  font-size: 17px;
  margin-bottom:1.5%;
}

div[role="tablist"] {
  margin-top: 40px;
  margin-bottom: 70px;
}

h4 {
  padding-top:5px;
}



/**************** WELCOME - CAROUSEL ****************************/
.carousel .item {
  height: 500px;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-caption {
  top: 30%;
  font-family: 'Lato', sans-serif;
  font-size: 3em;
}

/******************* WELCOME - ABOUT SECTION *************************/

#black_text {
  color:black;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  color: gray;
  padding-top:5px;
}

p {
  line-height: 50px;
  padding-left: 10%;
  padding-right:10%;
  padding-top: 1%;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  color: gray;
  text-align:center;
}

/******************* TABLES *************************/

#directiontext {
  font-family: 'Lato', sans-serif;
  padding-left:0;
  font-size: 1.4em;
  text-align:left;
  padding-top:0;
  line-height:0;
}

table {
  font-family: 'Lato', sans-serif;
}

/******************* WELCOME - FOUNDERS SECTION *************************/

#thefounders {
  background-image: url("/assets/sky.jpg");

}

#green_text {
  color: #B2C248;
}

#founder_pic {
  float:left;
  height:170px;
  width:150px;
  border-radius:100%;
}

#sabraprofile {
  float:left;
  width:50%;
}

#germanprofile {
  float:right;
  width:50%;
}


/******************* SIGN IN / SIGN UP / EDIT *************************/


#form_style input {
  width:30%;
  border-radius: 7px;
}

#submitbutton input {
  background-color: #FFCC02;
  width: 150px;
  border-radius: 20px;
}

#submitbutton input:hover {
  background-color: #ccc;
}

#apartmentpage {
  background-image: url("apartment2.jpg");
  margin-top: 1%;
  font-family: 'Lato', sans-serif;
}

#signinpage {
  background-image: url("friends.jpg");
  background-repeat: fill;
  margin-top: 1%;
  font-family: 'Lato', sans-serif;
}

.border-form-div {
  max-width: 60%;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0,0,0,.05);
}


#footer {
  margin-top: 3%;
  font-size: 10px;
  margin-bottom: 2%;
}
 
#footer p {
  line-height: 10px;
}
