<body id="apartmentpage">

  <div class="border-form-div">

    <h1>Edit Review: </h1>

    <%= render 'form' %>

    <br/>
    <%= link_to "Back", "users_apartment_path(current_user, params[:apartment_id])" %>

  </div>
</body>
