<h1> These are apartment listings </h1>

<ul>
	<% @apartments.each do |a| %>
		<li>
			<%= a.name %> <%= a.user_id %> 
			<% if a.photo_file_name %>
				<%= image_tag a.photo.url(:thumb) %>
			<% end %>
		</li>
</ul>


<% end %>

<%= will_paginate @posts %>
